<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .blog-item{
        width: 400px;
        box-sizing: border-box;
        font-size: 12px;
    }
    .blog-image{
        width:100%;
    }
    .blog-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .blog-content{
        line-height: 3px;
    }
    p{
        line-height: 16.2px;
        text-align: justify;
    }
</style>
<body>
    <div class="blog-item">
        <img src='../Assets/sampleblogimage.png' class="blog-image"></img>
        <div class="blog-info">
            <span>ANATOMY</span>
            <span>24/05/23</span>
        </div>
        <div class="blog-content">
        <h3>How to scale web applications</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, hic. Nisi consequatur expedita, consectetur deserunt nemo nam similique, officiis earum id unde eius dolorem atque sequi ut illum doloremque modi.</p>
    </div>
    </div>
</body>
</html>

